
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form metod="post">
        <h2>Tasinan Mail adresi: @ViewBag.v</h2>
        <br />
        <label>Kullanıcı ID degeri</label>
        <input type="text" class="form-control">Mail adresinize gelen alti haneli kodu giriniz />
        <br />
        <input type="text" class="form-control">Mail adresinize gelen alti haneli kodu giriniz />
        <br />
        <button class="btn btn-primary">hesabı aktiflestir</button>

    </form>
</div>
